# Ignore native/ directory used in 1.3.x and older branches
native/

# Maven
target/

# Eclipse IDE
.settings
.classpath
.project

# IntelliJ IDEA IDE
.idea/
*.ipr
*.iml

# VSCode IDE
.vscode/

# macOS
.DS_Store
