sudo: false
dist: trusty
language: java
script: mvn verify -Pdist && mvn verify -PTC9 -Pdist
matrix:
  include:
    # JDK 7
    - env: JDK_RELEASE='OracleJDK 7'
      jdk: oraclejdk7
      dist: precise
      script: mvn verify -Pdist
    - env: JDK_RELEASE='OpenJDK 7'
      jdk: openjdk7
      script: mvn verify -Pdist
    # JDK 8
    - env: JDK_RELEASE='OracleJDK 8'
      jdk: oraclejdk8
      deploy:
        provider: pages
        skip-cleanup: true
        repo: modcluster/documentation
        local-dir: docs/target/generated-docs/
        target-branch: gh-pages
        keep-history: true
        github-token: $GITHUB_TOKEN
        committer-from-gh: true
        email: docs-bot@modcluster.io
        allow-empty-commit: false
        verbose: true
        on:
          branch: master
    - env: JDK_RELEASE='OpenJDK 8'
      jdk: openjdk8
    # JDK 9
    - env: JDK_RELEASE='OracleJDK 9'
      jdk: oraclejdk9
    - env: JDK_RELEASE='OpenJDK 9'
      install: . ./install-jdk.sh -F 9
    # JDK 10-ea
    - env: JDK_RELEASE='OracleJDK 10'
      install: . ./install-jdk.sh -F 10 -L BCL
    - env: JDK_RELEASE='OpenJDK 10'
      install: . ./install-jdk.sh -F 10 -L GPL
    # JDK 11-ea
    - env: JDK_RELEASE='OracleJDK 11'
      install: . ./install-jdk.sh -F 11 -L BCL
    - env: JDK_RELEASE='OpenJDK 11'
      install: . ./install-jdk.sh -F 11 -L GPL