<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The mod_cluster Project Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
  <distributable/>
  
  <context-param>
    <param-name>duration</param-name>
    <param-value>15</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>record</servlet-name>
    <servlet-class>org.jboss.modcluster.demo.servlet.RecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>record</servlet-name>
    <url-pattern>/record</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>sessions</servlet-name>
    <servlet-class>org.jboss.modcluster.demo.servlet.ActiveSessionsLoadServlet</servlet-class>
    <init-param>
      <param-name>count</param-name>
      <param-value>20</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessions</servlet-name>
    <url-pattern>/sessions</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>connectors</servlet-name>
    <servlet-class>org.jboss.modcluster.demo.servlet.BusyConnectorsLoadServlet</servlet-class>
    <init-param>
      <param-name>count</param-name>
      <param-value>50</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>connectors</servlet-name>
    <url-pattern>/connectors</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>heap</servlet-name>
    <servlet-class>org.jboss.modcluster.demo.servlet.HeapMemoryLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>heap</servlet-name>
    <url-pattern>/heap</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>receive</servlet-name>
    <servlet-class>org.jboss.modcluster.demo.servlet.ReceiveTrafficLoadServlet</servlet-class>
    <init-param>
      <param-name>size</param-name>
      <param-value>100</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>receive</servlet-name>
    <url-pattern>/receive</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>requests</servlet-name>
    <servlet-class>org.jboss.modcluster.demo.servlet.RequestCountLoadServlet</servlet-class>
    <init-param>
      <param-name>count</param-name>
      <param-value>50</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>requests</servlet-name>
    <url-pattern>/requests</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>send</servlet-name>
    <servlet-class>org.jboss.modcluster.demo.servlet.SendTrafficLoadServlet</servlet-class>
    <init-param>
      <param-name>size</param-name>
      <param-value>100</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>send</servlet-name>
    <url-pattern>/send</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>cpu</servlet-name>
    <servlet-class>org.jboss.modcluster.demo.servlet.SystemLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cpu</servlet-name>
    <url-pattern>/cpu</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
</web-app>
