name: CI
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        java-compilation: [ 11, 17 ]
        java-runtime: [ 8, 11, 17 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java-compilation }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-compilation }}
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build with Maven using JDK ${{ matrix.java-compilation }}
        run: mvn -B verify -DskipTests
      - name: Set up JDK ${{ matrix.java-runtime }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-runtime }}
      - name: Run test with Maven using JDK ${{ matrix.java-runtime }}
        # In order to support Windows Powershell, a space between -D property=true is required.
        run: mvn -B verify -D maven.main.skip=true
